.DataTable h1 {
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  margin-bottom: 15px;
}

.DataTable table {
  width: 100%;
  table-layout: fixed;
}

.DataTable .tbl-header {
  background-color: rgba(255, 255, 255, 0.3);
}

.DataTable .tbl-content {
  margin-top: 0;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.DataTable th {
  padding: 20px 15px;
  text-align: left;
  font-weight: 500;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
}
